.navbar-static-top {
  position: static;
  margin-bottom: 5px;
  background-color: #00CED1;
  color: white;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	color: white;
}

.responsive {
  width: 100%;
  max-width: 100%;
  max-height: 800px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
}
